html {
  font-family: Garamond, serif;
  color: black;
  background-color: #202028;
  background-image: url("/composite.png");
  image-rendering: pixelated;
}

nav {
  background-color: #e1dee3;
  box-shadow: 4px 4px #d3a900;
  margin: 10px;
}

main {
  background-color: #e1dee3;
  box-shadow: 4px 4px #b20018;
  margin: 20px;
}

body {
  margin: 0px;
}

nav a {
  color: black;
}

nav a:link {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
	margin-right: 10px;
}

.navbar {
	margin: 0px;
	padding: 10px;
	display: flex;
	list-style: none;
}

.content {
  padding: 10px;
}

.content img {
  padding-right: 10px;
  padding-bottom: 10px;
}

.flexdiv {
  display: flex;
  flex-wrap: wrap;
}
