html {
  font-family: courier new, monospace;
  background-image: url("background.png");
  image-rendering: pixelated;
}

nav {
  background-color: lightgrey;
  margin: 10px;
}

main {
  background-color: lightgrey;
  margin: 20px;
}

body {
  margin: 0px;
}

nav a:hover {
  text-shadow: 0em -2em, 0em -1em, 0em 1em, 0em 2em, 0em 3em, 0em 4em, 0em 5em, 0em 6em, 0em 7em, 0em 8em, 0em 9em, 0em 10em;
}

nav li {
	margin-right: 10px;
}

.navbar {
	margin: 0px;
	padding: 10px;
	display: flex;
	list-style: none;
}

.glitchy {
	border: 1px solid grey;
	box-shadow: 4px 4px #995CD0, 8px 8px #8EDF5F;
  padding: 10px;
}
