html {
  font-family: "Trebuchet MS", sans-serif;
  color: hsl(50, 50%, 80%);
}

nav {
  border-bottom: 1px solid black;
}

nav a:link, nav a:visited {
  color: hsl(50, 50%, 80%);
}

body {
  background-color: hsl(200, 50%, 20%);
}
